header{
  text-align: center;

}

.Ayattollah{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.jj{
  padding: 10px;
  background-color: grey;

}
.rr{
  text-align: center;
  font-size: medium;
}
.gg{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}
#yy{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}